.middlecontainer {
  display        : flex;
  padding        : 30px 0;
  justify-content: space-between;
  align-items    : center;
  flex-wrap      : wrap;
  z-index        : 2;

  .logo {
    padding: 10px 0px;
  }

  .searchbox {
    position   : relative;
    // padding : 0 270px;

    .search {
      padding      : 10px 54px 10px 20px;
      border-radius: 5px;
    }

    span {
      right    : 10px;
      position : absolute;
      top      : 50%;
      transform: translateY(-50%);


    }
  }

  .middle-icons {
    display: flex;

    .icon-heart,
    .icon-cart {
      font-weight: 500;
      padding    : 0 10px;

      span {
        padding-right: 5px;
      }
    }



    div+div {
      border-left: 1px solid #dbdbdb;
    }
  }
}

@media only screen and (max-width: 991px) {
  .searchbox {
    order: 1;
    width: 100%;

    .search {
      display: block;
      width  : 100%;
    }
  }
}